<div *ngIf="questions">
    <div class="card-body table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Question</th>
                    <th>Option A</th>
                    <th>Option B</th>
                    <th>Option C</th>
                    <th>Option D</th>

                    <th>Right Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questions;let i=index" [ngSwitch]="question.rightOption">
                    <th scope="row">{{i+1}}</th>
                    <td> {{question.question}}</td>
                    <td> {{question.optionA}}</td>
                    <td> {{question.optionB}}</td>
                    <td> {{question.optionC}}</td>
                    <td> {{question.optionD}}</td>

                    <td *ngSwitchCase="1"> {{question.optionA}}</td>
                    <td *ngSwitchCase="2"> {{question.optionB}}</td>
                    <td *ngSwitchCase="3"> {{question.optionC}}</td>
                    <td *ngSwitchCase="4"> {{question.optionD}}</td>
                    <td>Edit</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>