<div class="card-body">
    <div class="list-group">
        <a class="list-group-item clearfix d-block" href="#">
            <i class="fa fa-comment fa-fw"></i> New Comment
            <span class="float-right text-muted small"><em>4 minutes ago</em></span>
        </a>
        <a class="list-group-item clearfix d-block" href="#">
            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
            <span class="float-right text-muted small"><em>12 minutes ago</em></span>
        </a>
        <a class="list-group-item clearfix d-block" href="#">
            <i class="fa fa-envelope fa-fw"></i> Message Sent
            <span class="float-right text-muted small"><em>27 minutes ago</em></span>
        </a>
       
    </div>
    <!-- /.list-group -->
    <a class="btn btn-default btn-block" href="#">View All Alerts</a>
</div>
